<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2-2.0.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!--<sec:http auto-config="true">-->
    <!--<sec:intercept-url pattern="/**" access="ROLE_USER"/>-->
    <!--</sec:http>-->

    <!--<sec:authentication-manager>-->
    <!--<sec:authentication-provider>-->
    <!--<sec:user-service>-->
    <!--<sec:user name="leonard" password="nimoy" authorities="ROLE_USER"/>-->
    <!--</sec:user-service>-->
    <!--</sec:authentication-provider>-->
    <!--</sec:authentication-manager>-->

    <context:component-scan base-package="com.sample.gateway.persistence.repository,
        com.sample.gateway.persistence.service,
        com.sample.gateway.core.service,
        com.sample.gateway.util"/>

    <jpa:repositories base-package="com.sample.gateway.persistence.repository"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/gateway"/>
        <property name="username" value="root"/>
        <!--<property name="password" value="password"/>-->
    </bean>

    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="showSql" value="false"/>
        <property name="generateDdl" value="false"/>
        <property name="database" value="MYSQL"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
        <!-- spring based scanning for entity classes-->
        <property name="packagesToScan" value="com.sample.gateway.persistence"/>
        <property name="jpaProperties">
            <props>
                <!--<prop key="hibernate.format_sql">true</prop>-->
                <!--<prop key="hibernate.hbm2ddl.auto">create-drop</prop> &lt;!&ndash; create | create-drop | validate | update &ndash;&gt;-->
                <prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="keyGeneratorFactory" class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean">
        <property name="serviceLocatorInterface"
                  value="com.sample.gateway.util.security.ApplicationKeyGeneratorFactory"/>
    </bean>

    <alias name="SecureRandomKeyGenerator" alias="secureRandomKeyGenerator"/>

    <bean id="conversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.sample.gateway.util.mapper.DomainApplicationModelMapper"/>
                <bean class="com.sample.gateway.util.mapper.PersistentApplicationModelMapper"/>
                <bean class="com.sample.gateway.util.mapper.DomainOperatorModelMapper"/>
                <bean class="com.sample.gateway.util.mapper.PersistentOperatorModelMapper"/>
            </set>
        </property>
    </bean>

</beans>