<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
    <head>
        <title>Welcome to inBloom!</title>
    </head>

    <body>

        <div layout:fragment="content">

            <!-- Form Name -->
            <legend>Welcome to inBloom!</legend>

            <div style="position: relative">

                <div style="left: 0; width: 50%; position: absolute">

                <form class="form-horizontal" th:action="@{/email_validation}" method="post">
                    <fieldset>

                        <input type="hidden" name="token" th:value="${token}"/>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="passwordinput1">1) Choose a Password</label>
                            <div class="col-md-4">
                                <input id="passwordinput1" name="password" type="password" placeholder="" class="form-control input-md" required=""/>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="passwordinput2">2) Confirm Password</label>
                            <div class="col-md-4">
                                <input id="passwordinput2" name="password2" type="password" placeholder="" class="form-control input-md" required=""/>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="3) Get Started!">3) Get Started!</label>
                            <div class="col-md-4">
                                <button id="3) Get Started!" name="3) Get Started!" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </fieldset>
                </form>

                    <div class="alert alert-danger" visible="false"></div>

                </div>

                 <div style="right: 0; width: 50%; position: absolute">

                     <b>Passwords must be at least 8 characters and contain:</b>
                     <ul>
                         <li>At least 2 upper case letters</li>
                         <li>2 lower case letters</li>
                         <li>1 digit</li>
                         <li>1 special character</li>
                     </ul>

                 </div>

            </div>


        </div>

    </body>

</html>